## Quiz #0101

#### Provide the answers in Python code:

1).  In the class A, students' heights are:

161.5 <br>
165.9 <br>
168.7 <br>
163.1 <br>
170.8 <br>
167.2 <br>

Calculate the mean height by using Python 'list' and 'for' loop:

In [1]:
mylistA=[161.5, 165.9, 168.7, 163.1, 170.8, 167.2]

rest=sum(mylistA)
avg = int(float(rest / len(mylistA)))
restA=0
for x in mylistA:
  restA += x

totA=sum(mylistA)
avgA=totA/len(mylistA)  
print ('The mean height =', avgA)

The mean height = 166.20000000000002

2).  In the class B, students' heights are:

172.5 <br>
162.9 <br>
161.7 <br>
160.1 <br>
161.8 <br>
169.2 <br>

Calculate the mean height by using Python 'list' and 'for' loop:

In [2]:
mylistB=[172.5, 162.9, 161.7, 160.1, 161.8, 169.2]

restB=0
for y in mylistB:
  restB += y

totB=sum(mylistB)
avgB=totB/len(mylistB)  
print ('The mean height =', avgB)

The mean height = 164.70000000000002

3). The class A and the class B are joined together to form the class AB. Calculate the mean height by using Python 'list' and 'for' loop:

In [13]:
def concatenate(mylistA, mylistB):
  mylistAB = []

  for l in [mylistA, mylistB]:
    for i in l:
      mylistAB.append(i)

  return mylistAB
mylistA=[161.5, 165.9, 168.7, 163.1, 170.8, 167.2]
mylistB=[172.5, 162.9, 161.7, 160.1, 161.8, 169.2]

MylistAB = concatenate(mylistA, mylistB)
print("List of the A & B Class  is :", MylistAB)

restAB=0
for z in MylistAB:
  restAB += z

totAB=sum(MylistAB)
avgAB=totAB/len(MylistAB)  
print ('The mean height =', avgAB)

List of the A & B Class  is : [161.5, 165.9, 168.7, 163.1, 170.8, 167.2, 172.5, 162.9, 161.7, 160.1, 161.8, 169.2]
The mean height = 165.45000000000002

4). Sort the heights of the class AB.

In [20]:
print("Sort of the heights of the class AB is:", sorted(MylistAB))

Sort of the heights of the class AB is: [160.1, 161.5, 161.7, 161.8, 162.9, 163.1, 165.9, 167.2, 168.7, 169.2, 170.8, 172.5]

5). The class C is formed with students with the height less than 165. Make a list 'C' containing the heights of the class C.

In [23]:
MylistAB
MylistC=[]
for i in MylistAB:
  if i < 165:
    MylistC = MylistC +[i]
    
print('The class C with students withe the height less than 165 is :', MylistC)

The class C with students withe the height less than 165 is : [160.1, 161.5, 161.7, 161.8, 162.9, 163.1]

6). The class D is formed with students with the height larger than 160 and less than 170. Make a list containing the heights of the class D.

In [25]:
MylistAB
MylistD=[]
for i in MylistAB:
  if i > 160 and i < 170:
    MylistD = MylistD +[i]

print('The class D with students with the height larger than 160 and less than 170 is :', MylistD)

The class D with students with the height larger than 160 and less than 170 is : [160.1, 161.5, 161.7, 161.8, 162.9, 163.1, 165.9, 167.2, 168.7, 169.2]