## Quiz #0201

In [1]:
import pandas as pd
import os

#### Read in the data.

In [ ]:
# Go to the directory where the data file is located. 
# os.chdir(r'~~')                # Please, replace the path with your own.

In [2]:
df = pd.read_csv('/content/data_studentlist.csv', header='infer')

In [38]:
df

                name gender  age  grade absence bloodtype  height  weight
0      Jared Diamond      M   23      3       Y         O   165.3    68.2
1     Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
2       Brian Martin      M   24      4       N         B   175.0    80.1
3       David Hassel      M   23      3       N        AB   182.1    85.7
4    Clara Rodriquez      F   20      1       Y         A   168.0    49.5
5   Jennifer Lorentz      F   21      2       N         O   162.0    52.0
6        Susan Clark      F   22      1       N         O   155.2    45.3
7    Margareth Jones      F   23      1       N         A   176.9    55.0
8       John Bertsch      M   23      3       N         B   178.5    64.2
9     Jake Timmerman      M   22      2       N         B   176.1    61.3
10     Joshua Connor      M   24      4       Y         O   167.1    62.0
11      John Matsuda      M   22      2       N        AB   180.0    75.8
12      Eddy Johnson      M   21      1       N         A   162.2    55.3
13  Rebecah Anderson      F   23      3       N         O   176.1    53.1
14      Linda Carter      F   22      2       N         B   158.2    45.2
15    Richard Swayze      M   24      4       Y         B   168.6    70.2
16       Andrew King      M   21      1       N         A   169.2    62.2

#### Answer the following questions using Pandas library.

1). Average height of the male students:

In [7]:
df[df.gender=='M'].height.mean()

172.41

2). Average height of the female students:

In [11]:
df[df.gender=='F'].height.mean()

166.64285714285714

3). Average weight of the male students:

In [27]:
df[df.gender=='M'].weight.mean()

68.50000000000001

4). Average weight of the female students:

In [12]:
df[df.gender=='F'].weight.mean()

50.44285714285714

5). The tallest height among the male students:

In [14]:
df[df.gender=='M'].height.max()

182.1

6). The shortest height among the female students:

In [15]:
df[df.gender=='F'].height.min()

155.2

7). The lightest weight among the male students of height taller than 175cm:

In [101]:
df[(df.gender =='M') & (df.height >175)]['weight'].min()

61.3

8). The heaviest weight among the female students of height shorter than 160cm:

In [102]:
df[(df.gender =='F') & (df.height <160)]['weight'].min()

45.2

9). The average grade of students without absence ('N'):

In [85]:
df[(df.absence =='N')].grade.mean()

2.076923076923077

10). The average grade of students with absence ('Y'):

In [86]:
df[(df.absence =='Y')].grade.mean()

3.0

11). Average height of the students with blood type 'A' or 'AB':

In [93]:
df[(df.bloodtype =='A') | (df.bloodtype =='AB')]['height'].mean()

172.64285714285714

12). Average height of the **male** students with blood type 'A' or 'AB':

In [95]:
df[(df.gender=='M') & (df.bloodtype =='A') | (df.bloodtype =='AB')]['height'].mean()

172.72000000000003

13). Average age of the students with absence ('Y') whose grade is equal or larger than 3:

In [98]:
df[(df.absence =='Y') & (df.grade > 3)].age.mean()

24.0